.footer {
  padding: 60px 18px 16px;
  background-color: #efefef;

  &__heading {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
  }

  &__form {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border: 1px solid #c7c7c780;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 5px 0 20px;
  }

  &__input {
    padding: 0;
    width: 100%;
    outline: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 2.15;
    opacity: 0.7;
    background-color: transparent;
    border: none;

    &:focus {
      &::-webkit-input-placeholder {
        color: transparent;
      }

      ~ .footer__submit {
        display: block;
      }
    }
  }

  &__submit {
    display: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 2.15;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
  }

  &__license {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: #cfcfcf;
  }

  &__logo {
    height: 32px;
    width: 32px;
    background-image: url(../../src/images/footer__logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 8px;
  }
}
