.burger-btn {

  &__input {
    display: none;

    &:checked {
      ~ .burger-btn__label {
        background-size: 0;
      }

      ~ .burger-btn__label::before {
        transform: rotate(45deg);
      }

      ~ .burger-btn__label::after {
        transform: rotate(-45deg);
      }
    }
  }

  &__label {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 22px;
    height: 19px;
    background-image: url(../src/images/line-for-burger-btn.svg);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background-size 300ms ease-in-out;

    &::before {
      content: "";
      width: 22px;
      height: 3px;
      background-color: $color--l-m;
      position: absolute;
      left: 0;
      top: 0;
      transform-origin: left;
      transition: transform 300ms ease-in-out;
    }

    &::after {
      content: "";
      width: 22px;
      height: 3px;
      background-color: $color--l-m;
      position: absolute;
      left: 0;
      bottom: 0;
      transform-origin: left;
      transition: transform 300ms ease-in-out;
    }
  }
}
