.toggle {
  display: none;
  width: 44px;
  height: 24px;
  position: relative;
  padding: 0 41px 0 50px;

  &::before {
    content: '';
    position: absolute;
    right: 106px;
    top: -2px;
    width: 28px;
    height: 28px;
    background-image: url(../src/images/sun-icon-light.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 20;
  }

  &::after {
    content: '';
    position: absolute;
    top: 2.32px;
    left: 116px;
    width: 19.35px;
    height: 19.35px;
    background-image: url(../src/images/moon-icon-light.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 20;
  }

  &_theme_dark::before {
    background-image: url(../src/images/sun-icon-dark.svg);
  }

  &_theme_dark::after {
    background-image: url(../src/images/moon-icon-dark.svg);
  }

  &_opened {
    display: block;
  }

  &__label {
    position: relative;
    display: block;
    width: 44px;
    height: 24px;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;

    &::after {
      position: absolute;
      top: 2px;
      bottom: 0;
      left: 2px;
      width: 20px;
      height: 20px;
      background: $color--accent;
      content: "";
      border-radius: 50%;
      transition: background 200ms linear,
        left 200ms ease-in-out 100ms;
    }

    &_theme_dark {
      background-color: #545454;
    }
  }

  &__input {
    display: none;

    &:checked {
      ~ .toggle__label::after {
        left: 22px;
      }
  }
  }


}




