.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 114px 18px 40px;

  &__heading {
    display: block;
    margin: 0;
    max-width: 80%;
  }

  &__image {
    margin: 40px 0 0 0;
    width: 90%;
    align-self: end;
  }

  &__bike-fix {
    position: absolute;
    top: 47%;
    border-radius: 20px;
    background-color: $color--bg--l-m;
    background-image: url(../../src/images/bike-fix.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    width: 73%;
    box-sizing: border-box;
    padding-top: 50%;

    box-shadow: -20px 60px 220px 0px rgba(0, 0, 0, 0.44);

  }

  &__text {
    margin: 38px 0 0;
  }

  &__button {
    align-self: center;
    margin: 41px 0 0;
  }
}
