.header {
  background-color: inherit;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  height: 74px;
  transition: all 300ms ease-in;
  overflow: hidden;

  &_opened {
    height: 100vh;
  }

  &__nav {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
  }

  &__nav-el {
    display: block;
    margin-bottom: 31px;
    color: $color--l-m;
    max-width: 220px;

    &:first-child {
      margin-top: 100px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__nav-link{
    text-decoration: none;
    color: inherit;
  }

  &__burger-btn {
    margin: 24px 18px 0 0;
    align-self: flex-end;
  }

  &__inner {
    position: absolute;
    bottom: 30px;
    left: calc(50vw - 67.5px);
  }

  @media screen and (min-width: 600px) {
    padding: 28px 0;
    box-sizing: border-box;

    &__nav {
      flex-direction: row;
      justify-content: flex-end;
    }

    &__nav-el {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.29;
      margin: 0 34px 0 0;

      &:first-child {
        margin: 0 34px 0 0;
      }

      &:last-child {
        margin: 0 8.5% 0 0;
      }
    }

    &__burger-btn {
      display: none;
    }
  }
}
