@import url(../vendor/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "./variables.scss";
@import "../src/blocks/section-heading/section-heading.scss";
@import "../src/blocks/section-text/section-text.scss";
@import "../src/blocks/section-line/section-line.scss";
@import "../src/blocks/button/button.scss";
@import "../src/blocks/arrow-button/arrow-button.scss";
@import "../src/blocks/page/page.scss";
@import "../src/blocks/header/header.scss";
@import "../src/blocks/toggle/toggle.scss";
@import "../src/blocks/burger-btn/burger-btn.scss";
@import "../src/blocks/intro/intro.scss";
@import "../src/blocks/tip/tip.scss";
@import "../src/blocks/coatings/coatings.scss";
@import "../src/blocks/bikes/bikes.scss";
@import "../src/blocks/training/training.scss";
@import "../src/blocks/footer/footer.scss";

