$color--bg--l-m: #F4F4F4;
$color--bg--d-m: #333333;
$color--l-m: #151515;
$color--d-m: #ffffff;
$color--accent: #24B47E;
$color--accent-selec: #319E75;
%font-family {
  font-family: Inter, Arial, Helvetica, sans-serif;
}


// $font--inter:

