.coatings {
  position: relative;
  padding: 0 18px 40px;

  &__heading {
    margin: 40px 0 0;
  }

  &__heights {
    height: 28px;
    width: 68px;
    position: absolute;
    left: 0;
    top: 80.5%;
    background-image: url(../src/images/green-rectangle.svg);
    background-repeat: no-repeat;

    &_type {
      &_high::after{
        background-image: url(../src/images/high-line-vector.svg);
        top: 8px;
      }

      &_mid::after {
        background-image: url(../src/images/middle-line-vector.svg);
        top: 10px;
      }

      &_low::after {
        background-image: url(../src/images/low-line-vector.svg);
        top: 12px;
      }

    }

    &::after {
      content: "";
      width: 35px;
      height: 13px;

      background-position: center;
      background-repeat: no-repeat;
      position: absolute;

      left: 10px;
    }
  }

  &__image-container {
    position: relative;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &__image {
    margin: 40px 18px 0 0;
    width: 100%;

    &:last-child {
      margin: 40px 0 0;
    }
  }

  &__text {
    margin: 40px 0 0;
  }

  &__button {
    position: absolute;
    right: 18px;
    top: 48px;
  }
}
