.tip {
  padding: 40px 18px 0;

  &__image {
    width: 100%;
    margin-top: 20px;
  }

  &__heading {
    margin: 36px 0 0;
    font-weight: 600;
    font-size: 23px;
    line-height: 1.26;
    letter-spacing: -0.5px;
  }

  &__author {
    margin: 40px 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;
  }

  &__authors-activity {
    margin: 4px 0 40px;
    font-size: 10px;
    line-height: 1.6;
    color: #222222;
    opacity: 0.7;
  }

  @media screen and (min-width: 870px) {
    display: grid;
    grid-template-columns: 49.2% 50.8%;
    padding: 7% 0 0 8.3%;

    &__image {
      grid-row: 1/4;
    }

    &__heading {
      margin: 3.2% 0 0 12%;
      max-width: 530px;
    }

    &__author {
      margin: 37% 0 0 12%;
    }

    &__authors-activity {
      margin: 0 0 0 12%;
    }
  }

  @media screen and (min-width: 1290px) {
    &__authors-activity {
      font-size: 16px;
      line-height: 1.75;
    }

    &__author {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.6;
    }

    &__heading {
      font-weight: 600;
      font-size: 34px;
      line-height: 1.29;
      letter-spacing: -0.5px;
    }
  }
}
