.tip {
  padding: 0 18px 42px;
  margin: auto;
  max-width: 1440px;
  position: relative;
  box-sizing: content-box;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 36px);
    background-color: #cac9c9;
    top: 0;
    z-index: 100;
  }

  &__image {
    width: 100%;
    margin-top: 20px;
  }

  &__heading {
    margin: 36px 0 0;
    font-weight: 600;
    font-size: 23px;
    line-height: 1.26;
    letter-spacing: -0.5px;
  }

  &__author {
    margin: 40px 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;
  }

  &__authors-activity {
    margin: 4px 0 40px;
    font-size: 10px;
    line-height: 1.6;
    color: #222222;
    opacity: 0.7;
  }

  @media screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 54.1% 45.9%;
    padding: 7% 8.3% 0;

    &::after {
      display: none;
      height: 0;
    }

    &__image {
      grid-row: 1/4;
    }

    &__heading {
      margin: 3.2% 0 0 14.3%;
      max-width: 530px;
    }

    &__author {
      margin: 15% 0 0 14.3%;
    }

    &__authors-activity {
      margin: 0 0 0 14.3%;
    }
  }

  @media screen and (min-width: 860px) {
    &__author {
      margin: 45.2% 0 0 14.3%;
    }
  }

  @media screen and (min-width: 1290px) {
    &__authors-activity {
      font-size: 16px;
      line-height: 1.75;
    }

    &__author {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.6;
    }

    &__heading {
      font-weight: 600;
      font-size: 34px;
      line-height: 1.29;
      letter-spacing: -0.5px;
    }
  }
}
